body {
	background-color: black;
	color: #ebebeb;
	width:75%;
	margin: auto;
	font-family: "Source Sans Pro";
}

.banner {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width:95%;
	margin-bottom: 3em;
}


.banner h2 {
	text-align: center;
	font-family: "josefin Sans";
	font-size: 2em;
	margin-left: -25%;
}


.content {
	margin: 0, auto;
	font-size: 1.2em;

}

#biography h2{
	text-align: center;
}

#filmography {
	margin-bottom: 3em;
}

#filmography h2 {
	text-align: center;
}

.films {
	display: flex;
	margin-bottom: 3em;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
}

#films-1 {
	 padding-right: 3em;
	 padding-left: 3em;
}

#films-2 {
	 padding-left: 3em;

}

#films-1 li, #films-2 li{
	list-style: none;
}

.movie-icons {
	display: inline-flex;
	justify-content: center;
	width:95%;
	margin-bottom: 3em;
}

#movie-icon-1 {
	background-image: url('../images/indianajones.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 10em;
    height: 10em;
    margin-right: 2.5em;
  
}
#movie-icon-2 {
	background-image: url('../images/airforceone.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 10em;
    height:10em;
    margin-right: 2.5em;
     
}
#movie-icon-3 {	 
	background-image: url('../images/starwars.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 10em;
    height:10em;
    margin-right: 2.5em;
    }