body {
	background-color: black;
	color: #ebebeb;
	width:75%;
	margin: auto;
	font-family: "Source Sans Pro";
}


.banner {
	text-align: center;
	margin-bottom: 3em;
}

.banner img {
	display: inline-block;
	vertical-align: middle;
	width: 40em;
	margin-left: -10%;

}

.banner div {
	display: inline-block;
	vertical-align: middle;
	width: 35%;
}

.banner h2 {
	font-size: 2em;
	margin-left: -50%;
	margin-right: -10%;
	font-family: "josefin Sans";

}

.content {
	margin: 0, auto;
	font-size: 1.2em;

}

table h2 {
	text-align: center;
	font-size: 1.4em;
	
}

table {
	width: 100%;
	height: 100%;
	margin: auto;


}


#film-content{

	width: 100%;
	margin: 0px, auto;
	text-align: center;

}

.films-1{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 1.5em;
}

.films-2{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding: 1.5em;
}



.films-1 li, .films-2 li{
	list-style: none;
}

.movie-icons {
	display: inline-block;
	text-align: center;
	margin-left: 10.5em;
	margin-right: 10.5em;
	margin-bottom: 10em;
}

#movie-icon-1 {
	display: inline-block;
	background-image: url('../images/indianajones.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 10em;
    height: 10em;
    margin-right: 2.5em;
  
}
#movie-icon-2 {
		display: inline-block;
	background-image: url('../images/airforceone.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 10em;
    height:10em;
    margin-right: 2.5em;
     
}
#movie-icon-3 {
		display: inline-block;
	background-image: url('../images/starwars.jpg');
	background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    width: 10em;
    height:10em;
    margin-right: 2.5em;
}


